In [16]:
import pandas as pd
import numpy as np
import datetime

In [17]:
admissions = pd.read_csv(r"C:\Users\kappl\OneDrive\Documents\BIOE5860 Precision Medicine\ADMISSIONS.csv")
diagnoses = pd.read_csv(r"C:\Users\kappl\OneDrive\Documents\BIOE5860 Precision Medicine\DIAGNOSES_ICD.csv")
procedures = pd.read_csv(r"C:\Users\kappl\OneDrive\Documents\BIOE5860 Precision Medicine\PROCEDURES_ICD.csv")
patients = pd.read_csv(r"C:\Users\kappl\OneDrive\Documents\BIOE5860 Precision Medicine\PATIENTS.csv")
labevents = pd.read_csv(r"C:\Users\kappl\OneDrive\Documents\BIOE5860 Precision Medicine\LABEVENTS.csv")

In [18]:
patients

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
46515,31840,44089,M,2026-05-25 00:00:00,NaN,NaN,NaN,0
46516,31841,44115,F,2124-07-27 00:00:00,NaN,NaN,NaN,0
46517,31842,44123,F,2049-11-26 00:00:00,2135-01-12 00:00:00,2135-01-12 00:00:00,NaN,1
46518,31843,44126,F,2076-07-25 00:00:00,NaN,NaN,NaN,0
46519,31844,44128,M,2098-07-25 00:00:00,NaN,NaN,NaN,0

In [19]:
admissions

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [20]:
diagnoses

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

In [21]:
procedures

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0          944       62641   154460        3       3404
1          945        2592   130856        1       9671
2          946        2592   130856        2       3893
3          947       55357   119355        1       9672
4          948       55357   119355        2        331
...        ...         ...      ...      ...        ...
240090  228330       67415   150871        5       3736
240091  228331       67415   150871        6       3893
240092  228332       67415   150871        7       8872
240093  228333       67415   150871        8       3893
240094  228334       67415   150871        9       3722

[240095 rows x 5 columns]

In [22]:
labevents

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
...,...,...,...,...,...,...,...,...,...
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

In [23]:
#based on that we'll find all the people with code 410
my_code = 410
people_with_code = diagnoses[diagnoses['ICD9_CODE'].str.startswith(str(my_code), na=False)]
print(len(people_with_code))

5496

In [24]:
patient_ids = people_with_code['SUBJECT_ID'].unique()
#patients_with_code = patients[patients['SUBJECT_ID'].isin(patient_ids)]
#print(len(patients_with_code))
admissions_with_code = admissions[admissions['SUBJECT_ID'].isin(patient_ids)]
deaths = admissions_with_code[admissions_with_code['HOSPITAL_EXPIRE_FLAG'] == 1]
#deaths = patients_with_code[patients_with_code['EXPIRE_FLAG'] == 1]
print(len(deaths))

928

In [ ]:
#subtract DOB from DOD in for deaths in patients to get age at death

birth_dates = pd.to_datetime(patients.set_index('SUBJECT_ID').loc[deaths['SUBJECT_ID'], 'DOB'])
death_dates = pd.to_datetime(patients.set_index('SUBJECT_ID').loc[deaths['SUBJECT_ID'], 'DOD'])

# Convert to numpy arrays to avoid overflow issues
ages_at_death = (death_dates.values - birth_dates.values) / np.timedelta64(1, 'D') // 365.25
ages_at_death = pd.Series(ages_at_death)
#print(ages_at_death.describe())
#print(ages_at_death)

#looks like there are some negative ages?
ages_at_death = ages_at_death[ages_at_death >= 0]
print(ages_at_death.describe())

count    821.000000
mean      73.140073
std       11.697242
min       19.000000
25%       66.000000
50%       76.000000
75%       82.000000
max       88.000000
dtype: float64

In [27]:
#convert columns to datetime format
#in admissions, DIAGNOSES column has MYOCARDIAL INFARCTION
admissions['ADMITTIME'] = pd.to_datetime(admissions['ADMITTIME'])
patients['DOB'] = pd.to_datetime(patients['DOB'])
#For each patient with an infarction (ICD-9 code 410), find age at first diagnosed infarction
admissions_infarction = admissions[admissions['SUBJECT_ID'].isin(patient_ids)]
admissions_infarction = admissions_infarction.sort_values(by=['SUBJECT_ID', 'ADMITTIME'])
first_admissions = admissions_infarction.drop_duplicates(subset=['SUBJECT_ID'], keep='first')


diagnoses_date = pd.to_datetime(patients.set_index('SUBJECT_ID').loc[first_admissions['SUBJECT_ID'], 'DOB'])

ages_at_first_infarction = (first_admissions['ADMITTIME'].values - diagnoses_date.values) / np.timedelta64(1, 'D') // 365.25

ages_at_first_infarction = pd.Series(ages_at_first_infarction)
print(ages_at_first_infarction.describe())

negative_ages = ages_at_first_infarction[ages_at_first_infarction < 0]
print(len(negative_ages))

ages_at_first_infarction_positive = ages_at_first_infarction[ages_at_first_infarction >= 0]
print(ages_at_first_infarction_positive.describe())

count    5032.000000
mean       42.920707
std        91.991281
min      -285.000000
25%        57.000000
50%        68.000000
75%        78.000000
max        89.000000
dtype: float64
361
count    4671.000000
mean       68.264183
std        12.715971
min        18.000000
25%        59.000000
50%        70.000000
75%        79.000000
max        89.000000
dtype: float64

In [ ]:
admissions_patients = admissions.merge(patients[['SUBJECT_ID', 'DOB']], on='SUBJECT_ID', how='left')
admissions_patients['ADMITTIME'] = pd.to_datetime(admissions_patients['ADMITTIME'])
admissions_patients['DOB'] = pd.to_datetime(admissions_patients['DOB'])

admissions_patients['AGE_AT_ADMISSION'] = (admissions_patients['ADMITTIME'].values - admissions_patients['DOB'].values) / np.timedelta64(1, 'D') // 365.25
print(admissions_patients['AGE_AT_ADMISSION'].describe())

count    58976.000000
mean        38.070198
std         74.208556
min       -285.000000
25%         36.000000
50%         59.000000
75%         73.000000
max         89.000000
Name: AGE_AT_ADMISSION, dtype: float64